.first-section {
    background: #ffecec;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 20px;
    height: 450px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
}

.first-section img {
    width: 100%;
}

.first-section-content h1 {
    color: #673ec5;
    /* color: #8362fd; */
    font-size: 65px;
    text-align: center;
}

.first-section-content span {
    color: #fd62f5;
    display: block;
    margin-bottom: 30px;
}

.first-section-content a {
    background: #f64242;
    padding: 12px 22px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.first-section-content a:hover {
    background-color: #f92626;
}


@media only screen and (max-width: 600px) {
    .first-section {
        grid-template-columns: 1fr;
        height: 816px;
    }

    .first-section img {
        margin-top: 30px;
        /* background-color: lightblue; */
    }
}

@media only screen and (max-width: 900px) {
    .first-section h1 {
        font-size: 50px;
        margin-top: 30%;
        /* grid-template-columns: 1fr;
        height: 730px; */
    }

    .first-section img {
        margin-top: 30%;
        /* background-color: lightblue; */
    }
}